# Application Configuration
NODE_ENV=
PORT=
CLIENT_ORIGIN=
JWT_SECRET=
VITE_SOCKET_URL=
DATABASE_URL=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_URL=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
REDIS_HOST=
REDIS_PORT=